@import 'main';

// PAGE STYLES

/* ///////////////// */
/*     HOME PAGE     */
/* ///////////////// */


/* Parallax Section */

.section-parallax {
	&:after {
	    position:		absolute;
	    content: 		"";
	    top: 			0;
	    left: 			0;
	    top: 			0;
	    right: 			0;
	    bottom: 		0;
	    width: 			100%;
	    height: 		100%;
	    background: 	rgba(45,43,40,0.70);
	    z-index: 		1;
	}
	.container {
		position:			relative;
		transition: 		$animated-normal;
		z-index:			2;
	}
}


/* Section Hero */

.section-hero {
	padding:			0;
	position:			relative;
	color:				$color-white;
	transition: 		$animated-normal;
	background-color:	#1d1d1d;

	&.section-parallax {
		&:after {			   
		    background: 	rgba(50,48,46,0.45);
		}
	}
	
	.hero-container {
		padding:			120px 0;
			
		.hero-block {
			padding:	0;	
			h1 {margin:		0 0 8px 0;}
			.slogan {
				display: 		inline-block;
				border:			1px solid rgba(242,241,240,0.55);
				border-width:	1px 0;
				padding:		5px 0;
				margin-bottom:	40px;
				p {margin:		0; font-size: 18px;}
			}
			
			.cd-intro {min-height: 60px;}
			.cd-headline {
				&.rotate-2 {
					.cd-words-wrapper {
						vertical-align: top; 
						overflow: hidden; 
						min-height: 65px;
						min-width: 310px;						
						position:relative;
						-webkit-perspective: 300px;
						-moz-perspective: 300px;
						perspective: 300px;
						display: inline-block;
						position: relative;
						text-align: center;
						
						i, em {
							display: inline-block;
							-webkit-backface-visibility: hidden;
							backface-visibility: hidden;
							font-style: normal;
						}
						i{
							-webkit-transform-style: preserve-3d;
							-moz-transform-style: preserve-3d;
							-ms-transform-style: preserve-3d;
							-o-transform-style: preserve-3d;
							transform-style: preserve-3d;
							-webkit-transform: translateZ(-20px) rotateX(90deg);
							-moz-transform: translateZ(-20px) rotateX(90deg);
							-ms-transform: translateZ(-20px) rotateX(90deg);
							-o-transform: translateZ(-20px) rotateX(90deg);
							transform: translateZ(-20px) rotateX(90deg);
							opacity: 0;
							&.in {
								-webkit-animation: cd-rotate-2-in 0.4s forwards;
								-moz-animation: cd-rotate-2-in 0.4s forwards;
								animation: cd-rotate-2-in 0.4s forwards;
							}
							&.out {
								-webkit-animation: cd-rotate-2-out 0.4s forwards;
								-moz-animation: cd-rotate-2-out 0.4s forwards;
								animation: cd-rotate-2-out 0.4s forwards;
							}
						}
						em {
							-webkit-transform: translateZ(20px);
							-moz-transform: translateZ(20px);
							-ms-transform: translateZ(20px);
							-o-transform: translateZ(20px);
							transform: translateZ(20px);
						}
						
						
					}
					
					b {
						font-weight:	$semibold;
						position: 		absolute;
						white-space: 	nowrap;
						left: 			0;
						right: 			0;
						top: 			0;
						&.is-visible {position: relative;}
					}					
				}
				
				
						
			}			
		}
			
		.is-visible .cd-headline.rotate-2 i {opacity: 1;}
		.no-csstransitions .cd-headline.rotate-2 i {
			-webkit-transform: rotateX(0deg);
			-moz-transform: rotateX(0deg);
			-ms-transform: rotateX(0deg);
			-o-transform: rotateX(0deg);
			transform: rotateX(0deg);
			opacity: 0;
		}
		.no-csstransitions .cd-headline.rotate-2 i em {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
			
		.no-csstransitions .cd-headline.rotate-2 .is-visible i {opacity: 1;}
		.no-js .cd-words-wrapper b {opacity: 0;}
		.no-js .cd-words-wrapper b.is-visible {opacity: 1;}
	}

	&.section-join {
		padding:		120px 0 150px 0;
		.container {			   
		    
		    .join-block {
		    	h1 {margin-bottom:		25px;}
		    	h4 {margin-bottom:		40px; line-height: 36px;}
		    }
		}
	}
}

@-webkit-keyframes cd-rotate-2-in {
0% {opacity: 0;-webkit-transform: translateZ(-20px) rotateX(90deg);}
60% {opacity: 1;-webkit-transform: translateZ(-20px) rotateX(-10deg);}
100% {opacity: 1;-webkit-transform: translateZ(-20px) rotateX(0deg);}
}

@-moz-keyframes cd-rotate-2-in {
0% {opacity: 0;-moz-transform: translateZ(-20px) rotateX(90deg);}
60% {opacity: 1;-moz-transform: translateZ(-20px) rotateX(-10deg);}
100% {opacity: 1;-moz-transform: translateZ(-20px) rotateX(0deg);}
}

@keyframes cd-rotate-2-in {
0% {
opacity: 0;
-webkit-transform: translateZ(-20px) rotateX(90deg);
-moz-transform: translateZ(-20px) rotateX(90deg);
-ms-transform: translateZ(-20px) rotateX(90deg);
-o-transform: translateZ(-20px) rotateX(90deg);
transform: translateZ(-20px) rotateX(90deg);
}
60% {
opacity: 1;
-webkit-transform: translateZ(-20px) rotateX(-10deg);
-moz-transform: translateZ(-20px) rotateX(-10deg);
-ms-transform: translateZ(-20px) rotateX(-10deg);
-o-transform: translateZ(-20px) rotateX(-10deg);
transform: translateZ(-20px) rotateX(-10deg);
}
100% {
opacity: 1;
-webkit-transform: translateZ(-20px) rotateX(0deg);
-moz-transform: translateZ(-20px) rotateX(0deg);
-ms-transform: translateZ(-20px) rotateX(0deg);
-o-transform: translateZ(-20px) rotateX(0deg);
transform: translateZ(-20px) rotateX(0deg);
}
}
@-webkit-keyframes cd-rotate-2-out {
0% {opacity: 1;-webkit-transform: translateZ(-20px) rotateX(0);}
60% {opacity: 0;-webkit-transform: translateZ(-20px) rotateX(-100deg);}
100% {opacity: 0;-webkit-transform: translateZ(-20px) rotateX(-90deg);}
}

@-moz-keyframes cd-rotate-2-out {
0% {opacity: 1;-moz-transform: translateZ(-20px) rotateX(0);}
60% {opacity: 0;-moz-transform: translateZ(-20px) rotateX(-100deg);}
100% {opacity: 0;-moz-transform: translateZ(-20px) rotateX(-90deg);}
}

@keyframes cd-rotate-2-out {
0% {
opacity: 1;
-webkit-transform: translateZ(-20px) rotateX(0);
-moz-transform: translateZ(-20px) rotateX(0);
-ms-transform: translateZ(-20px) rotateX(0);
-o-transform: translateZ(-20px) rotateX(0);
transform: translateZ(-20px) rotateX(0);
}
60% {
opacity: 0;
-webkit-transform: translateZ(-20px) rotateX(-100deg);
-moz-transform: translateZ(-20px) rotateX(-100deg);
-ms-transform: translateZ(-20px) rotateX(-100deg);
-o-transform: translateZ(-20px) rotateX(-100deg);
transform: translateZ(-20px) rotateX(-100deg);
}
100% {
opacity: 0;
-webkit-transform: translateZ(-20px) rotateX(-90deg);
-moz-transform: translateZ(-20px) rotateX(-90deg);
-ms-transform: translateZ(-20px) rotateX(-90deg);
-o-transform: translateZ(-20px) rotateX(-90deg);
transform: translateZ(-20px) rotateX(-90deg);
}
}


/* Services Section */

.section-services {
	padding:				80px 0 40px 0;		
	.services-container	{
		.col-sm-4:nth-child(3n+1) {clear: both;}

		a.block {
			
			.intro-block {
				padding:				60px 40px;
				text-align:				center;

				transition:				$animated-normal;
				-webkit-transition:		$animated-normal;

				.image-block {
					margin-bottom:		20px;
					img {margin: 0 auto; max-width: 62px;}
				}

				.text-block {
					min-height:			80px;
					margin-bottom:		15px;

					h3 {
						font-size:		18px;
						margin-bottom:	15px;
						text-transform:	uppercase;
					}
					p {
						font-size:		14px;
						line-height:	22px;
						margin:			0;
					}
				}

				.button-block {
					.button {
						padding:		0;
						font-size: 		16px;
						.icon {
							font-size:	13px;							
						}
					}
				}
			}

			&:hover {
				.intro-block {
					background:		$color-white;
					box-shadow:		8px 0px 38px rgba(0,0,0,0.08);
				}
			}
		}
	}	
}


/* Membership Section */

.section-membership {
	padding:				140px 0;

	&.section-parallax {
		&:after {			   
		    background: 	rgba(45,43,40,0.6);
		}
	}

	.container	{
			
		.membership-block {
			padding:				0px;
			text-align:				center;

			img {max-width: 78px; margin: 0 auto 30px auto;}

			h2 {
				font-size:		32px;
				margin-bottom:	20px;
			}
			p {
				font-size:		24px;
				margin-bottom:	40px;
			}

		}
	}	
}


/* Upcoming Events Section */

.section-events {
	padding:				90px 0;		
	.container	{

		.title-block {
			margin-bottom:		60px;
			h2 					{margin: 0;}
		}
			
		.events-group {
			padding:			0px;
			margin-bottom:		40px;
			
			table.custom-table {
				width:			100%;
				tr {
					transition:		$animated-normal;
					border-bottom:	1px solid #ddd;
					th, td {font-size:	16px;}
					th {
						font-size:		18px;
						font-weight: 	$bold;
						padding: 		15px 0;

						&:first-child {padding-left: 10px;}
					}
					td {
						a {padding: 15px 0; display: block;}
						&:first-child {padding-left: 10px;}
					}

					&:last-child {border: none;}
					&:hover {background: $color-lightgrey;}
				}
			}
		}
	}	
}


/* Spotlight & Testimonials Section */

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel{
	display: 			none;
	position: 			relative;
	width: 				100%;
	-ms-touch-action: 	pan-y;
	
	.owl-wrapper{
		display: 		none;
		position: 		relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	
	.owl-wrapper-outer{
		overflow: 		hidden;
		position: 		relative;
		width: 			100%;
		
		&.autoHeight{
			-webkit-transition: 	height 500ms ease-in-out;
			-moz-transition: 		height 500ms ease-in-out;
			-ms-transition: 		height 500ms ease-in-out;
			-o-transition: 			height 500ms ease-in-out;
			transition: 			height 500ms ease-in-out;
		}
	}
	
	.owl-item{
		float: 					left;
		
		&.loading{
			min-height: 		150px;
			background: 		url(AjaxLoader.gif) no-repeat center center
		}
	}
	
	.owl-page,
	.owl-buttons div{
		cursor: 				pointer;
	}
	
	.owl-controls {
		-webkit-user-select: 	none;
		-khtml-user-select: 	none;
		-moz-user-select: 		none;
		-ms-user-select: 		none;
		user-select: 			none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.owl-wrapper,
	.owl-item	{
		-webkit-backface-visibility: 	hidden;
		-moz-backface-visibility:    	hidden;
		-ms-backface-visibility:     	hidden;
		-webkit-transform: 				translate3d(0,0,0);
		-moz-transform: 				translate3d(0,0,0);
		-ms-transform: 					translate3d(0,0,0);
	}
	
	.owl-controls{
		margin-top: 			25px;
		text-align: 			center;		
		.owl-buttons {
			div{
				color: 			#FFF;
				display: 		inline-block;
				zoom: 			1;
			}		
		}
		&.clickable .owl-buttons div:hover{text-decoration: none;}
		&.clickable .owl-page:hover span{}
		
		.owl-page{
			display: 	inline-block;
			zoom: 		1;		
			span{
				display: 				block;
				width: 					12px;
				height:					12px;
				margin: 				4px;
				-webkit-border-radius: 	6px;
				-moz-border-radius: 	6px;
				border-radius: 			6px;
				background: 			transparent;
				border:					1px solid #a1a1a1;
				&.owl-numbers{
					height: 		auto;
					width: 			auto;
					color: 			#FFF;
					padding: 		2px 10px;
					font-size: 		12px;
					-webkit-border-radius: 	6px;
					-moz-border-radius: 	6px;
					border-radius: 			6px;
				}
			}
			&.active span{
				opacity: 		1;
				background: 	$color-orange;
				border:			1px solid $color-orange;
			}
		}
	}
}

.grabbing {cursor:url(grabbing.png) 8 8, move;} 

.section-spotlight {
	padding:				80px 0;
	
	.spotlight-container	{
				
		.title-block {
			margin-bottom: 	60px;
			text-align:		center;

			.h1 {margin-bottom:0;}
		}
			
		.spotlight-container {
			margin:			0 auto;
			
			.spotlight-group {
				padding:	0px;

				.spotlight-block 	{
					overflow:		hidden;
					font-size:		16px;

					.content-block {
						padding-right:			60px;

						h3	{
							font-size:			18px;
							margin-bottom:		6px;
						}

						span {margin-bottom:	25px;}
						.button {font-size: 16px;}
					}
				}
			}
		}
	}	
}

.section-testimonials {
	padding:				80px 0;
	
	.container	{
				
		.title-block {
			margin-bottom: 	60px;
			text-align:		center;
			.h1 {margin-bottom:0;}
		}
			
		.testimonial-container {
			margin:			0 auto 60px auto;

			.testimonial-block 	{
				overflow:		hidden;
				font-size:		18px;

				.author_content {
					padding-right:			40px;

					h3	{
						font-size:			32px;
						margin-bottom:		25px;
					}

					i {
						margin-bottom: 		30px;
						line-height:		30px;
						display: 			block;

						img {margin-top:	-20px;}
					}

					.author_name {margin-bottom:	10px;}
				}
			}
		}
	}	
}


.section-blog {
	padding:				80px 0;
	
	.blog-container	{
				
		.title-block {
			margin-bottom: 	60px;
			text-align:		center;

			.h1 {margin-bottom:0;}
		}
			
		.blog-group {
			position:		relative;
			overflow:		hidden;
			margin-bottom:	40px;

			.blog-article 	{
				font-size:		16px;

				.img-block {
					margin-bottom:	20px;

					img {

					}
				}

				.blog-content {
					padding:			0px;
					font-size:			16px;

					.date {
						font-size:		14px;
						color:			#888a8c;
						margin-bottom:	25px;
					}

					h3	{
						font-size:			18px;
						line-height:		26px;
						margin-bottom:		10px;
					}

					a {						
						color:			$color-primary;
						&:hover {
							color:		$color-orange;
						}
					}

					.button {
						font-size: 		16px;
						padding:		0;
						color:			$color-orange;
						&:hover {
							color:		$color-primary;
						}
					}
				}
			}
		}

		.button-block {
			.button {min-width: 200px;}
		}

	}	
}

.section-partner {
	padding:				40px 0;
	
	.partner-container	{

		.partner-group {
			position:			relative;
			overflow:			hidden;
			margin-bottom:		20px;
			padding-bottom:		20px;
			border-bottom:		1px solid #ececec;

			
			&:last-child {margin: 0; padding: 0; border-bottom: none;}

			.partner-block,
			.partner-title-block 	{
				vertical-align:		middle;
			}

			.partner-title-block 	{
				min-width: 			150px;
				h4			{font-size: 18px;}
			}

			.partner-block {
				margin-left: 		30px;

				a {
					display:		block;
					opacity:		0.7;
					transition:		$animated-normal;

					&:hover {opacity: 1;}
				}
			}

		}

	}	
}

.section-cta {
	padding:				60px 0;
	
	.cta-container	{
		h2 {
			margin-top:		12px;
			margin-bottom:	0px;
			font-size:		36px;
		}
		.button {
			font-size: 		20px;
			margin-bottom:	0px;
		}
	}
}


/* ///////////////// */
/*    INNER PAGES    */
/* ///////////////// */


/* Section Banner */

.section-banner {
	padding:			100px 0;
	position:			relative;
	background-color:	#1d1d1d;
	
	transition: 		$animated-normal;

	.container {
		transition: 		$animated-normal;		
		h1 {margin:		0;}
	}

	&.section-single-banner {
		padding:			120px 0;
		overflow:			hidden;

		.container {	
			h1 {margin:		0 0 20px 0;}
		}
	}


	@media (max-width: 768px) {

		&.section-single-banner {
			padding:			140px 0 60px 0;
		}

	}
}


/* Program Section */

.section-programs {
	padding:					80px 0;
	position:					relative;

	.container {

		.program-group {
			margin-bottom:		10px;

			.intro-block {				
				margin-bottom:	40px;
				padding:		0 30px;

				a {text-decoration:	underline;}
			}

			.content-block {
				padding:				0 30px;
				margin-bottom:			60px;
				a {text-decoration:	underline;}

				h3 {
					margin-bottom:		25px;
				}

				.paragraph-block {
					margin-bottom:		20px;					
				}

			}
		}
	}
}

.border-title, .border-title-center {
	padding-bottom:		20px;
	position:			relative;
	margin-bottom:		20px;

	&:after {
		display:		block;
		content:		"";
		width: 			100px;
		height:			2px;
		background:		#e4e4e4;
		position:		absolute;
		left:			0;
		bottom:			0;
	}
}

.border-title-center {
	&:after {
		left:			50%;
		margin-left:	-50px;
	}
}


.sidebar-right {
	.join-block {
		padding:			70px 20px 60px 20px;
		margin-bottom:		60px;
		position:			relative;
		z-index:			1;

		&:after {
			background:		rgba(45, 43, 40, 0.55);
			content:		"";
			top:			0;
			left:			0;
			width:			100%;
			height:			100%;
			position:		absolute;
		}

		h3 {
			font-size:		20px;
			position:		relative;
			z-index:		1;
		}

		.button {padding:	15px 20px;}
	}

	.spotlight-block {
		background:			$color-white;

		.title-block {
			padding:		25px;
			margin:			0!important;
			border-bottom:	2px solid #f5f5f5;

			h3 {
				font-size:	20px;
				margin:		0;
			}
		}

		.spotlight-container {
			padding:		25px;

			.content-block {
				
				h4 {
					font-size:	16px;
				}

				a, p, .img-block {
					font-size: 			14px;
					margin-bottom:		20px;
				}

				p {
					line-height:		23px;
				}
			}

			.owl-carousel {
				.owl-controls {
					margin:				0;
					.owl-buttons {
						display:		none;
					}
				}
			}
		}
	}
}

.section-intro {
	padding:			110px 0;
	position:			relative;

	.container {
		.content-block {
			h2 {margin-bottom:	30px;}
			p {font-size: 18px; line-height: 32px; margin: 0;}
		}
	}

	&.section-contact-intro {
		padding:			70px 0;
		.container {
			.content-block {
				p {font-size: 16px; line-height: 28px;}
			}
		}
	}
}

.section-howwedo {
	padding:			110px 0;
	position:			relative;

	.container {
		.content-block {
			padding:			0 40px 0 10px;
			font-size:			16px;
			h2 {margin-bottom:	30px;}

			&.image-block {
				padding-right:	10px;
			}
		}
	}
}


.section-offers {
	padding:			110px 0;
	position:			relative;

	.container {
		.title-block {
			margin-bottom:		50px;

			h2 {margin: 0;}
		}
		.content-block {
			margin:				0 auto;
			max-width:			790px;
		}
	}
}

.custom_table {
    border-color: #ebebeb;
    width: 100%;
	
	thead tr th {
		border: 		1px solid #ebebeb;
		border-bottom: 	none;
		font-size:		17px;
		text-align: 	center;
		color: 			$color-white;
		padding: 		22px 10px;
		background: 	$color-orange;

		&:first-child {
			width:		50%;
		}
	}
	
	tbody {	
		tr {
			border: 1px solid #ebebeb;
			th {
				background: 	$color-white;
				padding: 		12px 25px;
				border: 		1px solid #ebebeb;
				color: 			#666666;
				text-align: 	left;
				font-size: 		16px;
				font-weight: 	normal;
				span {
					display: block; min-height: 14px;
					&.yes {background: url(../images/table_tick.png) center no-repeat; background-size: 20px 14px;}
				}
				&.tr-head {
					border: 		none;
					text-align: 	left;
					color: 			#666666;
					padding: 		12px 25px;
					background: 	#f1f1f1;
					font-weight:	bold;
				}
			}
			td {
				background: #ffffff;
				border: 1px solid #e5e5e5;
			}			
		}
	}	
}


.section-better {
	padding:			110px 0;
	position:			relative;

	.container {
		p a {text-decoration:	underline;}

		.heading-block {
			margin-bottom:		30px; 
		}
		.content-block {
			margin-bottom:		60px;

			&.grey-block {
				color: 			#7c7e80;
				padding:		60px 100px;
				p {font-size:	18px; }
			}
		}
	}
}




/* ////////////////// */
/*    TESTIMONIALS    */
/* ////////////////// */

.page-section-testimonials {
	padding:				60px 0;
		
	.container	{
		
		.testimonials-group {
			.testimonial-block {
				border: 1px solid #e5e5e5;
				border-width:	1px 0 0 0;
				padding:		25px 0;
				overflow:		hidden;
				font-size:		16px;
				&:last-child    {border-width:	1px 0;}
				img {max-width: 100%; display: block; height: auto; border-radius: 50%;}
				.author_content {
					.name {font-weight: 600;}
					.designation {font-size: 14px; text-transform: uppercase;}
				}
			}
		}
		.pagination {
			display: 		block;
			overflow: 		hidden;
			border-radius: 0px;
			margin:			20px 0 30px 0;
			a, span {
				display:	block;
				float: 		left;
				font-size:	16px;
				color:		#333333;
				padding:	0px;
				margin-right:		7px;
				width:				25px;
				height:				25px;
				line-height:		25px;
				text-align:			center;
				transition:			$animated-normal;
				&:hover {color: $color-red;}
			}
			.next, .prev {display: none;}
			span {background: $color-red; color: $color-white; border-radius: 3px;}			
		}
	}	
}


/* ////////////////// */
/*   SEARCH LISTING   */
/* ////////////////// */

.section-search {
	padding:				60px 0;
		
	.search-container	{
		padding:			0px;
		max-width:			1184px!important;		
		.title-block {
			margin-bottom:	25px;
			h2 {
				font-size: 32px;
				span {font-weight: $semibold;}
			}
		}
		.search-group {
			margin-bottom:	15px;
			.search-list-block {
				padding:	30px 0;
				border:		1px solid #e5e5e5;
				border-width:	1px 0;
				
				h3{
					font-size: 		24px;
					font-weight:	$semibold;
				}
			}			
		}
		.pagination {
			display: 		block;
			overflow: 		hidden;
			border-radius: 0px;
			margin:			20px 0 30px 0;
			a, span {
				display:	block;
				float: 		left;
				font-size:	16px;
				color:		#333333;
				padding:	0px;
				margin-right:		7px;
				width:				25px;
				height:				25px;
				line-height:		25px;
				text-align:			center;
				transition:			$animated-normal;
				&:hover {color: $color-red;}
			}
			span {background: $color-red; color: $color-white; border-radius: 3px;}			
		}
	}	
}



.section-blog-list{
	padding:			60px 0;
	
	.container{
		max-width:		1184px!important;

		.blog-group {
			margin-bottom: 		0px;

			.blog-block {
				display: 			block;
				margin-bottom: 		50px;

				.img-block {
					margin-bottom: 		20px;
					display: 			inline-block;
					width: 				auto;
					img {max-width: 300px;}
				}

				.blog-content {
					padding: 0px;
					font-size: 16px;

					a {
						color: $color-primary;
						&:hover {color: $color-orange;}
					}

					h3 {font-size: 18px; line-height: 26px; margin-bottom: 10px;}
					.date {font-size: 14px;color: #888a8c;margin-bottom: 20px;}
					.button {font-size: 16px;padding: 0; text-align: left;}
				}
			}
		}

		.pagination{
			display:			block;
			overflow:			hidden;
			border-radius:		0px;
			padding:			30px 0 30px 0;
			margin:				0;
			border-top: 		1px solid #e4e4e4;

			a, span {
				display:block;
				float:left;font-size:14px; margin-right: -1px;font-weight:600; border: 1px solid #ebebeb; background: #fff;color:#6d6d6d;padding:0px;width:36px;height:36px;line-height:32px;text-align:center;transition:all 0.2s;

				&:hover {color:#de2943;}
			}
			span{background:#f5f5f5;color:#6d6d6d;border-radius:3px}
		}
		
	}
}


.section-blog-details {
	.container {
		max-width:		1184px!important;
		.title-block{
			margin-bottom:	20px;
			h2 {margin-bottom:0px}
			h3 {font-size:20px}
		}

		.img-block {margin-bottom:40px}

		.paragraph-block{
			margin-bottom:40px;
			ul {
				li{margin-bottom:10px;font-size:16px}
			}
		}

		.heading-block {
			margin-bottom: 30px;
			.section-title {font-size: 28px;}
			.post-info {font-size: 16px; color: #747474;}
		}

		.comment-block {
			border-top: 1px solid #e4e4e4;
			margin-top: 5px;
			padding-top: 25px;
			h3{margin-bottom: 20px;}
			.form-control{
			    background: #fff;
			    border: 1px solid #e1e1e1;
			    border-radius: 2px;
			    box-shadow: none;
			    color: #98999a;
			    font-size: 16px;
			    height: inherit;
			    line-height: normal;
			    padding: 20px;
			    -webkit-appearance: none;
			}
		}

		.nav-block {padding: 20px 0; border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;
			a {padding: 0; font-size: 16px; min-width: inherit!important; }
			.text-left a {text-align: left;}
			.text-right a {text-align: right;}
			a i{height: 16px;overflow: hidden;display: inherit;}
		}
	}
}


.section-contact {
	padding:			80px 0;
	position:			relative;

	.container {
		.title-block {
			border-bottom:		1px solid #dfdfdf;
			margin-bottom:		25px!important;
			h4 {margin:		0;}
		}
		.enquiryform-block {
			margin-bottom:		30px; 

			.form-block {
				.form-group {
					margin-bottom:		16px;

					.form-control {
						background: #fff;
						border: 1px solid #e1e1e1;
						border-radius: 2px;
						box-shadow: none;
						color: #98999a;
						font-size: 16px;
						height: inherit;
						line-height: normal;
						padding: 20px;
						-webkit-appearance: none; 
					}

					textarea.form-control {
						min-height:			200px;
						margin-bottom:		20px;
					}

					input.form-control[type=submit] {
						background:			$color-orange;
						border:				none;
						color:				$color-white;
						padding: 			1em 2em;
						font-size:			18px;
						max-width:			175px;
						text-transform:		uppercase;
						float:				right;
					}
				}
			}
		}
		.contact-details-block {
			margin-bottom:		60px;
			
			.paragraph-block {
				margin-bottom:	40px;

				a {text-decoration:	underline;}

				&:last-child {margin: 0;}
			}			
		}
	}
}



/* ///////////////// */
/*    EVENTS PAGE    */
/* ///////////////// */

.section-event {
	padding:			50px 0;
	position:			relative;
	background:			#f5f5f5;

	.container {
		.tab-block {
			width:				50px;
			height:				50px;
			border-radius:		50%;
			margin:				0 auto 10px auto;
		}
	}
}


.timeline {
	ul {
		margin:			0;
		padding:		0;

		li {
			list-style-type: 		none;
			position: 				relative;
			width: 					3px;
			margin:					0 auto;
			padding-top:			0px;
			background: 			#e0e0e0;

			&:after {
				content: 			'';
				position: 			absolute;
				left: 				50%;
				top: 				36px;
				transform: 			translateX(-50%);
				width: 				20px;
				height: 			20px;
				border-radius: 		50%;
				background: 		url(../images/timeline-icon.png) center no-repeat;
				background-size:	20px;
				opacity:			0.5;
				transition:			$animated-normal;
			}

			div {
				position: 		relative;
				bottom: 		0;
				width: 			400px;
				padding: 		0px 15px 0px 15px;

				.date {
					font-size:			14px;
					display:			block;
					margin-bottom:		15px;
					line-height:		normal;
				}

				h3 {
					font-size:			20px;
				}

				p {margin: 0;}

				&:before {
					content: 			'';
					position: 			absolute;
					bottom: 			7px;
					width: 				0;
					height: 			0;
					border-style: 		solid;
				}
			}



			&:first-child {
				border-top-left-radius:		5px;
				border-top-right-radius:	5px;
				padding-top:				25px;

				&:after {
					top: 					60px;
				}
			}

			&:last-child {
				border-bottom-left-radius:		5px;
				border-bottom-right-radius:		5px;
				padding-bottom:					25px;
			}

			&:nth-child(even) {
				div {
					left: 					15px;

					&:before {
						left:				-15px;
						border-width: 		8px 16px 8px 0;
						border-color: 		transparent #F45B69 transparent transparent;
						display: 			none;
					}
				}
			}

			&:nth-child(odd) {
				div {
					left:					-415px;
					text-align:				right;

					&:before {
						right:				-15px;
						border-width: 		8px 0 8px 16px;
						border-color: 		transparent transparent transparent #F45B69;
						display: 			none;
					}

				}
			}
		}
	}
}


.timeline ul li::after {
	transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
	opacity:			1;
}

.timeline ul li div {
	visibility: 			hidden;
	opacity: 				0;
	transition: 			all .5s ease-in-out;
}

.timeline ul li:nth-child(even) div {
	transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(odd) div {
	transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
	transform: 			none;
	visibility: 		visible;
	opacity: 			1;
}


@media screen and (max-width: 900px) {
	.timeline ul li div {
		width: 			250px;
	}
	.timeline ul li:nth-child(odd) div {
		left:			-265px;
		/*250+45-6*/
	}
}

@media screen and (max-width: 768px) {
	.timeline ul li {
		margin-left: 		20px;
		padding-bottom:		30px;
	}

	.timeline ul li div {
		width: 				calc(100vw - 91px);
	}

	.timeline ul li:nth-child(odd) div {
		left: 				15px;
		text-align:			left;
	}

	.timeline ul li:nth-child(odd) div::before {
		left:				15px;
		border-width: 		8px 16px 8px 0;
		border-color:		transparent #F45B69 transparent transparent;
	}

	.timeline ul li:nth-child(odd) div {
		transform: 			translate3d(200px, 0, 0);
	}

	.timeline ul li.in-view div {
		transform: 			none;
	}
}



.section-event-details {
	padding:			70px 0 35px 0;
	position:			relative;
	background:			#f5f5f5;

	.container {
		.content-block {
			padding-right:			60px;

			p,img 		{
				display:			block;
				margin-bottom:		25px;
			}
		}

		.nav-block {
			border-top:				1px solid #e5e5e5;
			margin-top:				30px;
			padding-top:			30px;

			.button-default {
				padding-left:		0!important;
				padding-right:		0!important;
				font-size:			16px;
				margin-top:			3px;
				min-width:			inherit!important;	
			}
		}
	}

	@media (max-width: 768px) {
		padding:						50px 0 35px 0;
		.container {
			.content-block {
				padding-right:			0;
			}

			.nav-block {
				margin-top:				20px;
				padding-top:			10px;

				.button-orange {
					min-width:			inherit!important;
				}
			}
		}
	}

}


.sidebar-right {
	xmargin-left:		20px;
	
	.event-info-block {		
		margin-bottom:		50px;
		background:			#ffffff;
		
		p {font-size: 16px;}
		
		.form-header {
			padding:		30px;
			border-bottom:	2px solid #f6f6f6;
			
			h3{margin-bottom: 0px; font-size: 20px;}
		}
		
		.form-body {
			padding:				30px;
			border-bottom:			2px solid #f6f6f6;
			font-size:				16px;
			h3 {font-size: 20px; margin-bottom: 30px;}
			.form-row 	{
				margin-bottom: 15px;
				&.button-row 	{margin-top: 40px;}	
				.button {padding-left: 10px; padding-right:10px;}			
			}
		}
	}
	
	.have-a-question {		
		p 					{font-size: 16px;}
		.form-header {
			margin-bottom:		20px;		
			h3{margin-bottom: 	0px; font-size: 20px;}
		}
	}

	.paragraph-block {
		ul, li {margin:0; padding:0}
		ul {margin-left:15px;}
	}
}




/* ///////////////////// */
/*    RESPONSIVE VIEW    */
/* ///////////////////// */

@media (max-width: 1280px) 	{}
@media (max-width: 1200px) 	{.container {width:100%;}}
@media (max-width: 1100px) 	{

	.section-partner {
		padding:				40px 0;
		
		.partner-container	{

			.partner-group {
				position:		relative;
				overflow:		hidden;
				margin-bottom:	40px;
				
				&:last-child {
					margin:		0;
				}

				.partner-block,
				.partner-title-block 	{
					vertical-align:		middle;
				}

				.partner-title-block 	{
					min-width: 			150px;
					h4			{font-size: 18px;}
				}

				.partner-block {
					margin-left: 		20px;
				}

			}

		}	
	}

	.section-cta {
		.cta-container	{
			h2 {
				font-size:		28px;
			}

			.button {
				font-size: 		18px;
			}

		}	
	}

}

@media (max-width: 992px) 	{

	.section-partner {		
		.partner-container	{

			.partner-group {
				text-align:			center;
				.partner-title-block 	{
					display:			block!important;
					text-align:			center;
					margin-bottom:		15px;
				}
			}

		}
	}

}

@media screen and (max-width: 990px) and (min-width: 768px) {
	
	header { 		
		.top {
			.container {
				.top-left-block, .top-right-block {
					ul {
						li {
							margin-right:		12px;
							&:last-child {margin-right:0;}
						}
					}
				}
				.top-right-block {
					ul {
						li {
							margin-right:	0px;
							margin-left:	12px;
						}
					}
				}
			}
		}
		
		.xlogo {
			width: 				236px;
			height: 			70px;
			background-size:	100%;
		}
	}
	.navbar .navbar-nav li 		{xmargin-left: 10px;}
	.navbar .navbar-nav li a 	{xfont-size: 13px;}

}

@media screen and (max-width: 1024px) and (min-width: 768px) {}

@media (max-width: 768px) {

	#header {
		&.original {display: block; position:	absolute;}
	}

	header {
		height: 	103px; 
		background:	transparent;
		position:	fixed;
		.logo {
			background: url('../images/vma-logo-w.png') no-repeat center center;
			background-size: 100%;
		}
		.logo {width: 220px; height: 65px;}
	}

	header.cloned {
		height: 	66px; 
		background:	transparent;
		position:	fixed;
		.logo-link {margin:0;}
		.logo {
			background: url('../images/vma-logo-w.png') no-repeat center center;
			background-size: 100%;
		}
		.logo {width: 156px; height: 46px;}
		.navbar-default .navbar-toggle {margin-top: 37px;}
	}


	.navbar-default {		
		.navbar-toggle {			
			.icon-bar {background-color: #fff;}			
			&:hover,&:focus		{
				.icon-bar 		{background-color: #fff;}
			}
		}		 
	}

	.navbar .navbar-nav li.homepage-link 	{display: block;}
	.button-block {text-align: center;}

	
	.error404 {
		#header.original {
			background:		$color-white;
			.logo {
				background: url('../images/vma-logo.png') no-repeat center center;
				background-size: 100%;
			}
		}

		.navbar-default {			
			.navbar-toggle {				
				.icon-bar 		{background-color: #505050;}
				&:hover,&:focus		{
					.icon-bar 		{background-color: #505050;}
				}
			}
		}

		.main-container {margin: 100px;}
	}

	.slide{	
		&.slide--reset {		
			background:		#ffffff;
			position:		fixed;
			opacity:		1;
			.logo {
				background: url('../images/vma-logo.png') no-repeat center center;
				background-size: 100%;
			}
			
			.navbar-default {		
				.navbar-toggle {			
					.icon-bar {background-color: #505050;}			
					&:hover,&:focus	{
						.icon-bar {background-color: #505050;}
					}
				}		 
			}	
		}
		&.headroom--top {		
			-webkit-transition:all .25s ease-in-out;
			-moz-transition:all .25s ease-in-out;
			-o-transition:all .25s ease-in-out;
			transition:all .25s ease-in-out;
			
			-webkit-transform:translateY(-100%);
			-ms-transform:translateY(-100%);
			transform:translateY(-100%);
			background:		transparent;		
			box-shadow: 	none;
			position:		fixed;
			visibility: 	hidden;
			opacity:		0;
			.logo {
				background: url('../images/vma-logo-w.png') no-repeat center center;
				background-size: 100%;
			}		
			.navbar-default {		
				.navbar-toggle {			
					.icon-bar {background-color: #ffffff;}			
					&:hover,&:focus	{
						.icon-bar {background-color: #ffffff;}
					}
				}		 
			}
			.vma-search {display:none;}
		}
		&.slide--up{
			-webkit-transform:translateY(-100%);
			-ms-transform:translateY(-100%);
			transform:translateY(-100%);
			position:fixed;
			xopacity:		0;
			transition: $animated-normal;
		}
		&.headroom--not-top{
		}
	}


	.vma-search {
	    position: 			relative;
		background: 		#ebebeb;
		visibility:			visible;
		transform:			none;	
		.input-group {
			margin: 	10px;
			
			.form-control	{
				border: 					1px solid #cccccc;
				border-right: 				none;
				border-top-left-radius: 	40px;
				border-bottom-left-radius: 	40px;
				box-shadow: 				none;
				padding:					10px 20px;
				height:						inherit;
				font-size:					14px;
				line-height:				24px;
				&:focus {box-shadow: none;}
			}
			.input-group-btn {
				margin:						0!important;
				button {
					border-top-right-radius: 40px; border-bottom-right-radius: 40px; line-height: 18px; font-size: 15px; padding: 13px 22px 13px 18px; outline:none; margin:0;
					&:focus {background: $color-orange;outline:none;}
					img {max-width: 18px;}
				}
			}
		}
	}


	/* Nav */
	
	.navbar .navbar-nav li a:before {display: none;}
	header .logo-link {margin-bottom:9px;}
	
	.navbar {
		position:absolute;
		width: 100%;
		height:100%!important;
		background:none;
		xoverflow:hidden;
		margin-top: -70px;
	
	
		.navbar-collapse {
			border: medium none;
			box-shadow: none;
			display: block;
			position: fixed;
			right: -275px;
			width: 75%;		
			max-width: 275px;
			background:#ffffff;
			height:100%;
			top: 0;
			padding:0;
			transition: all 0.2s;
			min-height:100%;
		}
			
		.navbar-collapse.in {		
			overflow: visible;
			right: 0;
			display: block;
			width: 75%;
			height: 100% !important;
			min-height: 100% !important; 
			max-width: 275px;
			box-shadow: 10px 0px 45px rgba(0,0,0,0.8);
		}
		
		.collapse.in {		
			height:100%!important;
			min-height:100%!important;
		}
		.navbar-header {
			max-width:				86px;
			float:					right;
		}
		
		
		.navbar-default .navbar-nav > li {
			margin-left: 			0px;		
			margin-right: 			0px;
			background: 			transparent;
		}
		
		.navbar-default .navbar-nav > li > a,
		.navbar-default .navbar-nav > li:last-child > a	{
			text-align:				left;
			background:				none;
			padding:				15px 25px;
			transition:				all 0.2s;;
		}
		
		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > li:hover > a,
		.navbar-default .navbar-nav > li:last-child:hover > a,
		.navbar-default .navbar-nav > .current_page_item > a,
		.navbar-default .navbar-nav > .current_page_item > a:hover,
		.navbar-default .navbar-nav > .current_page_item > a:focus{ 
			color: 				#fff!important;
			background-color:	$color-orange!important
		}
		
		.navbar-nav {
			float: none;
			padding:0;
			margin:0;
			
			li {
				position:relative;
				margin-left: 0px;
				&:last-child > a {xpadding: 7px 0px 7px 12px;}			
				a {
					font-size:			17px;
					line-height:		28px;
					padding:			15px 25px;;			
					&:before {display: none;}
					&:hover,&:focus,&.open {color: #fff; background-color:	$color-orange;}		
				}
				
			}
			
			.active {
				a {
					padding: 7px 0px 7px 12px;				
					&:hover,
					&:focus {
						background:		transparent;
						color: 			#1abc9c;
					}
				}
			}
			
			.menu-item-has-children {
				a {
					padding-right:20px; color:#ffffff;
					background: $color-orange url(../images/sub-menu-icon-up-w.png) calc(100% - 25px) center no-repeat!important; padding-right:20px;
					&:hover,&:focus {background: $color-orange url(../images/sub-menu-icon-up-w.png) calc(100% - 25px) center no-repeat!important; color:#ffffff; }
				}
				
				&.down a {
					padding-right:20px; color: #2f3234;
					background: #ffffff url(../images/sub-menu-icon.png) calc(100% - 25px) center no-repeat!important; padding-right:20px;
					&:hover,&:focus {background: $color-orange url(../images/sub-menu-icon-down-w.png) calc(100% - 25px) center no-repeat!important;color:#ffffff; }
				}
				
				ul.sub-menu {
					margin:				0;
					padding:			0;
					position:			relative;
					min-width:			inherit;
					
					li {
						padding:		0;
						margin:			0;
						position:		relative;					
						a{padding: 15px 25px 15px 50px;border-top: none; background:none!important;
							&:hover,&:focus {background: $color-orange!important;color:#ffffff; }
						}
					}
				}
				
			}
		}
		
		.search {float: none;margin: 20px 26px;}
	}
	
	
	.main-container {margin:0;}
	
	
	/* Titles */

	.h1 	{font-size: 34px;}
	.h2 	{font-size: 28px;}
	.h3 	{font-size: 24px;}
	.h4 	{font-size: 20px;}
	.h5 	{font-size: 18px;}
	
	.xrow				{margin:0px;}		 


/*  HOME PAGE   */

	/* Section Hero */

	.section-hero {		
		.hero-container {
			padding:			140px 0 80px 0;				
			.hero-block {
				padding:		0 15px;
				.slogan {
					p {margin: 0; font-size: 16px;}
				}			
			}
		}

		&.section-join {
			padding:		140px 0 60px 0;
			.container {			   
			    
			    .join-block {
			    	text-align:				center;
			    }
			}
		}
	}


	.section-intro {
		padding:			60px 0;

		&.section-contact-intro {
			padding:			60px 0;
		}
	}

	.section-howwedo {
		padding:			60px 0 20px 0;

		.container {
			.content-block {
				padding:			0px;
				margin-bottom:		40px;

				&.image-block {
					padding-right:	0;
				}
			}
		}
	}

	.section-offers {
		padding:			60px 0;

		.container {
			.title-block {
				margin-bottom:		30px;
			}
		}
	}


	.custom_table {		
		thead tr th {
			font-size:		14px;
			padding: 		15px 10px;
		}
		
		tbody {	
			tr {
				th {
					padding: 		8px 15px;
					font-size: 		14px;

					&.tr-head {
						padding: 	8px 15px;
					}
				}	
			}
		}
	}

	.section-better {
		padding:			60px 0;

		.container {
			.content-block {
				margin-bottom:		30px;
				&.grey-block {
					padding:		40px;

					p:last-child {margin: 0; }
				}
			}
		}
	}


	.section-contact {
		padding:			60px 0;

		.container {

			.enquiryform-block {
				margin-bottom:		30px;				
			}
			.contact-details-block {
				margin-bottom:		0px;
				
				.paragraph-block {
					margin-bottom:	40px;

					a {text-decoration:	underline;}
				}			
			}
		}
	}



	/* Services Section */

	.section-services {
		padding:				40px 0;		
		.services-container	{
			.col-sm-4:nth-child(2n+1) {clear: both;}
			.col-sm-4:nth-child(3n+1) {clear: none;}
			a.block {
				
				.intro-block {
					padding:				25px 10px;
					.image-block {
						margin-bottom:		10px;
					}
	
					.text-block {
						min-height:			inherit;
						h3 					{font-size: 15px;}
						p 					{font-size: 14px;}
					}

					.button-block {
						.button {
							font-size: 		13px;
							min-width:		inherit!important;
							.icon {
								font-size:	11px;							
							}
						}
					}

				}
			}
		}	
	}


	/* Membership Section */

	.section-membership {
		padding:				100px 0;
	}


	/* Upcoming Events Section */

	.section-events {
		padding:				40px 0;
	}

 
	/* Services Spotlight */

	.section-spotlight {
		padding:				40px 0;		
		.spotlight-container	{					
			.title-block {
				margin-bottom: 	40px;
			}
				
			.spotlight-container {				
				.spotlight-group {
					.spotlight-block 	{
						.content-block {
							padding-right:			0px;
							margin-bottom:			15px;
						}
					}
				}
			}
		}	
	}


	.section-testimonials {
		padding:				40px 0;
		
		.container	{
					
			.title-block {
				margin-bottom: 	40px;
			}
				
			.testimonial-container {
				.testimonial-block 	{
					font-size:		16px;

					.author_content {
						padding:				0px 15px;
						text-align:				center;
						margin-bottom:			20px;

						h3	{
							font-size:			24px;
							margin-bottom:		20px;
						}
					}

					.author_icon {
						img	{
							margin:				0 auto;
							display:			block;
						}
					}
				}
			}
		}	
	}

	.section-blog {
		padding:				40px 0;		
		.blog-container	{					
			.title-block {
				margin-bottom: 	40px;
			}
				
			.blog-group {
				margin-bottom:	20px;
				.blog-article 	{
					font-size:				16px;
					margin-bottom:			40px;

					img {width:			100%;}
					
					.blog-content {
						padding:			0px;
						font-size:			16px;


						.date {
							font-size:		14px;
							color:			#888a8c;
							margin-bottom:	10px;
						}

						h3	{
							font-size:			18px;
							line-height:		26px;
							margin-bottom:		15px;
						}

						.button {text-align: left}
					}
				}
			}

			.button-block {
				.button {min-width: 200px;}
			}

		}	
	}

	.section-partner {		
		.partner-container	{

			.partner-group {
				margin-bottom:	20px;
				text-align:		center;
				
				.partner-block,
				.partner-title-block 	{
					vertical-align:		middle;
				}

				.partner-title-block 	{
					display:			block;
					text-align:			center;
					margin-bottom:		15px;
					h4			{font-size: 18px;}
				}

				.partner-block {
					margin: 			0 10px;
					margin-bottom:		10px;
				}

			}

		}	
	}

	.section-cta {
		padding:				30px 0;
		
		.cta-container	{
			text-align:			center;

			.col-sm-4, .col-sm-8 {text-align: center!important;}
			h2 {
				font-size:		24px;
				margin-bottom:	20px;
			}
			.button {
				font-size: 		16px;
			}
		}	
	}
	


	/* Section Banner */

	.section-banner {
		padding:			120px 0 80px 0;
	}


	/* Program Section */

	.section-programs {
		padding:					40px 0 0;
		.container {

			.program-group {
				.intro-block {
					padding:		0;
				}

				.content-block {
					padding:				0;
					margin-bottom:			25px;

					.heading-block {
						overflow:			hidden;
						margin-bottom:		20px;

						.thumb-block {margin-bottom: 15px;}
						.no-padding-left {padding-left: 15px!important;}
					}
				}
			}
		}
	}

	
	/*   FOOTER   */
	
	footer {
			
		.section-footer {
			padding:			50px 0 0px 0;		
			.container {
				.col-sm-3 		{margin-bottom:60px; padding-right: 0;}
				.col-xs-12 		{xpadding: 0;}
				ul.flinks 		{
					margin: 0 0 0px 0;

					li {margin-bottom:		12px; line-height: normal;}
				}
								
				.contact-info{
					margin-bottom:			20px;
					
					.footer-logo 			{margin-bottom: 20px;}
					p						{margin-bottom: 10px; line-height: 24px;}
					
					.contact-number {
						border-left:		none;
						padding-left:		0px;
						margin-bottom:		20px;
					}
									
				}
							
				.social-icons {
					clear:					both;
					overflow:				hidden;
					
					a{
						color: 					#909090;
						cursor: 				pointer;
						float: 					left;
						font-size: 				17px;
						line-height: 			18px;
						padding: 				0;
						margin-right: 			10px;
						text-align: 			center;
						text-decoration: 		none;
						width: 					18px;
						height: 				18px;
						-webkit-transition: 	$animated-normal;
						transition:				$animated-normal;
						
						&:hover,
						&:focus {color: #fff; }	
					}
				}					
				
				.copyright {
					color:					$color-grey;
					padding:				30px 0;
					font-size: 				12px;
					border-top:				1px solid #363a3c;		
						a {
							color:		$color-grey;
						}
				}
							
			}
		}
	
	}
	

	.error404 {
		.original {display: none;}
		.slide.headroom--top {display: block; visibility: visible; opacity:1; transform: none; background:#fff;
			.logo {
				background: url('../images/vma-logo.png') no-repeat center center;
				background-size: 100%;
			}
			.navbar-default .navbar-toggle .icon-bar {background: #505050}
		}
	}
 
}

@media (max-width: 520px) {


	/* Membership Section */

	.section-membership {
		padding:				60px 0;
		.container	{
			.membership-block {
				img {max-width: 60px; margin: 0 auto 25px auto;}

				h2 {
					font-size:		28px;
				}
				p {
					font-size:		20px;
				}

			}
		}	
	}


	/* Upcoming Events Section */

	.section-events {
		.container	{
			.title-block {
				margin-bottom:		40px;
			}

			.events-group {
				overflow:		auto;

				table.custom-table {
					min-width:		500px;
					tr {
						th, td {font-size:	13px;}
						th {padding: 10px 0;}
						td {
							a {padding: 10px 0;}
						}						
						td:first-child 		{min-width:90px;}
						td:nth-child(2) 	{padding-right:10px;}
						td:nth-child(3) 	{min-width:70px;}
						td:last-child 		{min-width:60px;}
					}
				}
			}
		}	
	}
	
	/* Buttons */	
	.button {
		padding:0.9em 1.5em; font-size: 16px; min-width: 250px; max-width: 300px; text-align:center;
		span {vertical-align: middle; font-size: 25px; margin-top:-10px; margin-left: 5px;}
	}
		

	
	footer {			
		.section-footer {
			.container {
				padding: 0 20px;
				.col-sm-3 {margin-bottom:40px; padding-right: 0; width:50%; }	
				.col-sm-6 {width:100%; float: none; xpadding-right: 0; clear: both;}						
			}
		}	
	}

}

@media (max-width: 320px) {}