@media (max-width:768px){
.section-blog .blog-container .blog-group .blog-article .blog-content h3 {min-height: inherit;}
}
.section-registration .registration-container .registration-form .form-block .error {color: #f52626;}
.section-registration .registration-container .registration-form .form-block label.error {color: #ffffff;display: block;background: #e83c3c; padding: 10px 15px; margin-top: 5px; border-radius: 3px;}

.event-info-block .form-body .button { text-align: center; color: #fff }

.section-contact .container .enquiryform-block .form-block .form-group select.form-control {
    background: #fff url(../images/select-icon.png) center right no-repeat;
    background-size: 32px 5px;
    cursor: pointer;
    -moz-appearance: none;
}

/** fix visual anomalies on page load */
.navbar .navbar-nav .menu-item-has-children ul.sub-menu { display: none; }
.cd-intro { visibility: hidden; }
.parallax-slider { opacity: 0 ; }

/** part of fooevents templates 12/25/2020 **/
:root {
    --diminished-grey: #dfdfdf;
}

/** order modal component */
.order-modal .modal-content { border-radius: 0; }
.order-modal .modal-body { padding-top: 0; }
.order-modal .event-title { border-bottom: 1px solid var(--diminished-grey); }
.order-modal .cart-summary-col, .order-modal .add-to-cart-col { padding: 0; }
.order-modal .summary-image-holder img { width: 100%; }
/** taken from https://codepen.io/dimbslmh/full/mKfCc */
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}
.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

/** Tickets selection button */
.woocommerce div.product .summary .button-block span { font-size: 85%; }

/**
 * partial fix for footer call to action button  woocommerce css conflict 
 *
 * Redeclares code from custom.css with higher specificty to overide woocommerce
 * css conflicts.
 */
.woocommerce .section-cta .cta-container .button {
	min-width: 150px;
	max-width: 400px;
	display: inline-block;
	padding: 1em 1.75em 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 3px;
}
.woocommerce .section-cta .cta-container .button-primary {
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    color: #f58026;
    font-weight: initial;
}
.woocommerce .section-cta .cta-container .button-white {
	border: 1px solid #fff;
	background: #fff;
    color: #f58026;
    font-size: 20px;
}

/** woocommerce standard template classes */
.woocommerce div.product .woocommerce-tabs ul.tabs { margin-bottom: 0px; }
.woocommerce div.product .woocommerce-tabs .panel { padding: 25px }


