/*
Theme Name: VMA-Main
Author: Black Flag Creative
Author URI: http://www.blackflagcreative.com
Description: Visual Media Alliance
Version: 1.0
*/

.no-js,.lt-ie9 {display: none;}

/* General */

body {font-size: 16px;}

a {outline:none}
a:focus{outline:none}

h1,h2,h3,h5 {font-weight: 600; }
h5 {font-size: 1em;}